<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Parameters-->
    <add key="direccionServidor" value="http://127.0.0.1:8090" />
    <add key="nombreServidor" value="BingoHub" />
    <add key="usuarioAdmin" value="Administrador" />
    <!--End Parameters-->
    <!--Mensajes de error-->
    <add key="errorDesconectarCliente" value="El cliente no pudo ser desconectado." />
    <add key="errorEnvioInicioJuego" value ="No se pudo iniciar el juego."/>
    <add key="errorEnvioUsuario" value="No se pudo enviar el usuario."/>
    <add key="errorEnvioBalota" value="No se pudo enviar la balota."/>
    <!--End Mensajes de error-->
  </appSettings>
</configuration>